<header class="bg-bgHeader-default flex justify-between items-center">
  <h1 class="text-black font-title pl-4 text-3xl md:text-4xl md:pl-8">
    <a href="/">Green Monitor</a>
  </h1>
  <img class="h-full w-1/3 md:w-1/2 md:h-28" src="header-bg.png" />
</header>
