<header class="bg-bgHeader-default flex justify-between items-center">
  <h1 class="text-black font-title p-4 text-3xl lg:text-4xl lg:p-8">
    Green Monitor
  </h1>
  <img class="" src="bg-leaves.png" />
</header>
