---
import PlantCard from './PlantCard.astro';
---

<main class="p-6 bg-gray-100 min-h-screen">
    <section class="text-center mb-6">
        
        <h1 class="text-3xl font-semibold">¡Buen día!</h1>
        <p>Tus plantas han esperado por ti...</p>
    </section>
    <section class="text-center mb-6">
        <div class="bg-green-100 rounded-md p-4 flex flex-col items-center">
            <div class="text-3xl">😊</div>
            <div class="mt-4">
                <h2 class="text-xl font-semibold">¡Todo bien!</h2>
                <p>Todos los niveles de tus plantas se encuentran óptimos.</p>
            </div>
        </div>
    </section>
    <section class="bg-white p-4 rounded-md">
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-2xl font-semibold">Mis plantas</h2>
            <button class="bg-green-500 text-white py-1 px-3 rounded-md">Agregar planta</button>
        </div>
        <div class="grid grid-cols-2 gap-4 md:grid-cols-3">
            <PlantCard name="Floridelia" img="../../assets/Floredia.jpg" link="/plant" />
            <PlantCard name="Cactucin" img="../../assets/Cactucin.jpg" link="/plant" />
        </div>
    </section>
</main>
