---
const { plantName } = Astro.props;
---

<main class="text-center p-6 bg-gray-100 min-h-screen">
  <section class="plant-view">
    <div class="mb-6 md:m-6">
      <img
        src="Floredia.jpg"
        alt="Fotografía de una sedum lineare"
        class="size-24 rounded object-fill mx-auto mb-4"
      />
      <h1 class="text-3xl font-semibold">{plantName}</h1>
    </div>
    <h2 class="text-2xl font-semibold mt-8 md:mt-12 mb-4 text-left">
      Estado actual
    </h2>
    <div class="grid grid-cols-2 gap-4 mb-6 md:grid-cols-4">
      <div
        class="bg-gray-100 border border-gray-300 rounded-lg p-4 text-center"
      >
        <p id="temperature" class="text-2xl mt-2">-</p>
        <p class="text-sm">Temperatura</p>
      </div>
      <div
        class="bg-gray-100 border border-gray-300 rounded-lg p-4 text-center"
      >
        <p id="soil-humidity" class="text-2xl mt-2">-</p>
        <p class="text-sm">Humedad de la tierra</p>
      </div>
      <div
        class="bg-gray-100 border border-gray-300 rounded-lg p-4 text-center"
      >
        <p id="air-humidity" class="text-2xl mt-2">-</p>
        <p class="text-sm">Humedad del aire</p>
      </div>
      <div
        class="bg-gray-100 border border-gray-300 rounded-lg p-4 text-center"
      >
        <p id="air-quality" class="text-2xl mt-2">-</p>
        <p class="text-sm">Calidad del aire</p>
      </div>
    </div>
    <h2 class="text-2xl font-semibold mt-16 mb-8 text-left">
      Gráficas en tiempo real
    </h2>
    <div>
      <canvas id="temperatureChart"></canvas>
    </div>
  </section>
</main>

<script>
  import { initRealtimeData } from "../firebase/firebaseconfig";

  document.addEventListener("DOMContentLoaded", () => {
    initRealtimeData();
  });
</script>

<script>
  import { Chart, registerables } from "chart.js";
  Chart.register(...registerables);

  document.addEventListener("DOMContentLoaded", () => {
    const ctx = document.getElementById(
      "temperatureChart"
    ) as HTMLCanvasElement;
    if (ctx) {
      new Chart(ctx, {
        type: "line",
        data: {
          labels: [0],
          datasets: [
            {
              label: "Temperatura",
              data: [0],
              borderWidth: 1,
              borderColor: "rgb(75, 192, 192)",
              tension: 0.1,
            },
          ],
        },
        options: {
          plugins: {
            title: {
              display: true,
              text: "Temperatura en grados celsius",
            },
          },
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    }
  });
</script>
